@model QRok.Models.Survey
@{
	ViewData["Title"] = "View";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

	.chart div {
		font: 10px sans-serif;
		background-color: steelblue;
		text-align: right;
		padding: 3px;
		margin: 1px;
		color: white;
	}
</style>

<script type="text/javascript" src="~/js/knockout-3.4.2.js"></script>
<script type="text/javascript" src="~/js/KOViewModels/SurveyOption.js"></script>
<script type="text/javascript" src="~/js/KOViewModels/Survey.js"></script>

<h2>@Model.Title</h2>

<button type="button" id="mymodal" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	Share via QR Code
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Scan to participate in "@Model.Title"</h4>
			</div>
			<div class="modal-body">
				<canvas id="qrcode-canvas"></canvas>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

@{bool votingActive = (DateTime.Now < Model.CloseDateTime); }
@{const int MaxBarWidth = 200; }
@{
	int maxCount = Model.SurveyOptions.Max(so => so.Count);
	if (maxCount == 0) { maxCount = 1; }
}


@{
	int BarWidth(int count)
	{
		return (int)((float)MaxBarWidth * (float)count / (float)maxCount);
	}
}


<table style="padding: 10px;" class="table">
	@foreach (var option in Model.SurveyOptions)
	{
		<tr>
			<td style="width: 150px;">
				@if (votingActive)
				{
					@Html.ActionLink(option.Title,"Vote","Surveys",option,new { @class = "btn btn-primary btn-block" })
					@*<button class="btn btn-primary btn-block">@option.Title</button>*@
				}
				else
				{
					<strong>@option.Title</strong>
				}
			</td>
			<td style="padding: 10px;">@option.Count</td>
			<td class="chart" style="text-align:left">
				<div style="width: @(BarWidth(option.Count))px;">@option.Count</div>
			</td>
		</tr>
	}
</table>


<script type="text/javascript" src="~/js/qrcodegen.js"></script>

<script type="text/javascript">
	var ecl = qrcodegen.QrCode.Ecc.MEDIUM;
	var text = 'https://localhost:44322/Surveys/Details/id=%ID%&Guid=%GUID%'
		.replace('%GUID%', '@(Model.Guid.ToString())')
		.replace('%ID%', '@(Model.Id.ToString())');
	var segs = qrcodegen.QrSegment.makeSegments(text);
	var minVer = 1;
	var maxVer = 40;
	var mask = -1;
	var boostEcc = false;
	var qr = qrcodegen.QrCode.encodeSegments(segs, ecl, minVer, maxVer, mask, boostEcc);

	var border = 1;
	var canvas = document.getElementById("qrcode-canvas");

	qr.drawCanvas(6, border, canvas);
</script>

<script type="text/javascript">
	ko.applyBindings(new Survey(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model,
							   Newtonsoft.Json.Formatting.None,
							   new Newtonsoft.Json.JsonSerializerSettings()
							   {
								   ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
							   }))));
</script>